


/* We use a google map, inserted per http://wrightshq.com/playground/placing-multiple-markers-on-a-google-map-using-api-3/  
The JS is in its own file, called by the html file. 
This is the CSS.  It may need modified to allow more than one map to be displayed.
*/
#map_wrapper {
    height: 200px; width: 300px;
}
#map_canvas {
    width: 100%;
    height: 100%;
}

/* we use JS to let the Bootstrap panels be collapsible, 
mainly for use on a mobile where there isn't enough space to show all the content permanently.
*/
.clickable{
    cursor: pointer;   
}
.panel-heading span {   /* the up/down arrow */
	margin-top: -20px;
	font-size: 15px;
}



