<!-- table for header and navigation links -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
<tr><td>

<div align="center">

	<table border="0" width="1000">
  
		<tr>
			<td width="53%">
			<img border="0" src="_borders/Scotch_Hop_logo.jpg" width="661" height="141">
      </td>
      
			<td width="30%" bgcolor="#FFFFFF">
			<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="center">
			<span style="text-transform: uppercase; font-style: italic; font-weight: 700">
			<font face="Fine Hand" size="6" color="#000080">
      2016 Dates
      </font></span></p>
			<p class="MsoNormal" style="margin-top: 0; margin-bottom: 0" align="center">
			<b><font size="5" face="Arial">
      13th, 20th, 27th July,
      <br />3rd &amp; 10th August
      </font>
      </b>
      </p>
      </td>
		</tr>
    
		<tr>
			<td bgcolor="#FFFFFF" align="center" colspan="2">
			<p style="margin-top: 0; margin-bottom: 0">
			<font face="Arial" color="#000080"><a href="index.html">
			<font face="Arial" color="#000080">
			<span style="text-decoration: none">Home</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</font><a href="Dates_programmes.html">
			<font face="Arial" color="#000080">
			<span style="text-decoration: none">Dates &amp; Programmes</span></font></a><font color="#000080">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</font><font face="Arial" color="#000080">
			<a href="Information.html"><font face="Arial" color="#000080">
			<span style="text-decoration: none">Information</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="Q_A.html"><font face="Arial" color="#000080">
			<span style="text-decoration: none">Q&amp;A</span></font></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<a href="Pictures.html"><span style="text-decoration: none">
			<font face="Arial" font color="#000080">Pictures </font></span></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<!--<a href="Print%20Programmes.html">
			<font face="Arial" color="#000080">
			<span style="text-decoration: none">Print Programmes</span></font></a></font>-->
			</td>
		</tr>
    
	</table>  
  </div>

</td></tr>
</table>
<!-- end of header and navigation links -->