<!-- CSS table for header -->

<!-- Logo/Title & Dates -->
<div class="row">  <!-- BS, row, logo/nav -->

<div class="col-md-9">  <!-- BS, col -->

<div class="logo-image" ><h1 class="LSHbannerTitle">Linlithgow Scotch Hop</h1></div> 

</div>  <!-- BS, col -->

<div class="col-md-3">  <!-- BS, col -->
<p class="lead">    <!-- BS to make this stand out -->
      <strong>2016 Dates :</strong><BR />
      13th, 20th &amp; 27th July,
      3rd &amp; 10th August
      (Wednesdays at 7.30pm)
</p>
</div>  <!-- BS, col -->

</div>  <!-- BS, row -->


<!-- end of header  -->