


<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h1 class="panel-title" id="linlithgow">Travelling to Linlithgow</h1>
  </div>
  <div class="panel-body">  <!-- BS -->

			<p >Linlithgow is  20 miles west of Edinburgh, Scotland.
			</p>   

<!--
This is intended as a map of Linlithgow, showing the Palace and Low Port,
intended mainly to help people coming to Linlithgow.  
Our custom CSS controls its size etc. Our JS defines the content (area, markers etc).
CSS and JS both locate it by its id. 
CSS and JS both locate it by its id. If the CSS/JS does not know this id, the map will not appear. 
-->
<div id="map2">
    
</div>      



      
      <p><b>Linlithgow Palace</b> (EH49 7AL) is in the town centre. 
      <b>Low Port Centre</b> (EH49 7HZ) is on Blackness Road on the east side of the town, opposite Tesco.      
      </p>            
 
 <h2>by Road</h2>     
 <p>From Edinburgh or the East - M9 Junction 3 (20 miles from Princes St).
 <br />From Falkirk / Stirling - M9 Junction 4  (xx miles from Stirling).
 <br />From Glasgow - M8 to Junction 2 then M9 to Junction 3 (xx miles from Glasgow centre). 
 <br />Then follow A803 towards the town centre.
</p> 
<p>      There is limited parking at the Palace itself, with some spaces reserved for Blue Badge holders.
      There is also plenty of parking at the bottom of the approach hill, a short walk away - please consider using this.
      At the Low Port, parking is also limited, but there is a large car park over the road near Tesco.
</p>

 <h2>by Rail</h2> 

			<p>Linlithgow is on the main Edinburgh-Glasgow railway line, 
      with trains as often as every 15 minutes.
      Travel is about 20 minutes from Edinburgh, 45 minutes from Glasgow.
       
			You can check timetables and buy tickets at 
      <a href="https://www.scotrail.co.uk/plan-your-journey/stations-and-facilities/lin">
      Scotrail
      </a> and similar websites.
      </p>


 <p> The station is about 0.5km from either venue.
 If coming from Glasgow, leave the station down onto the High Street.
 If coming from Edinburgh, enter the shelter and use the pedestrian tunnel under the railway then leave for the High Street.
 </p>
 <p>Once on the High Street, for the Palace, go left, after 200m (at the Square) turn right up to the Palace.
 Or for the Low Port, go right, then at the mini-roundabout, go left. 
 Low Port is on the left at the pedestrian crossing.    
</p>

<h2>by Bus</h2>

<p> 
<a href="https://www.firstgroup.com/south-east-and-central-scotland/plan-journey/journey-planner">
FirstBus
</a>
service 38 operates between Edinburgh and Stirling, 
stopping at the Cross (very near the Palace),
and at the railway station (handier for the Low Port).
</p>

<h2>by Bike</h2>

<p>Yes, some people do arrive this way!</p>
<p>
The canal offers a fairly flat route, from Edinburgh or Falkirk.
Leave the canal at the Canal Centre, ride towards the railway station but do not enter it.
Instead continue down the hill then left under the railway.
At the roundabout go left (to the Palace) or right (to the Low Port).
</p>

<h2>by Air</h2>
<p>Although we haven't heard of anyone coming this way for just one evening,
we have some regular visitors who come for a week or two,
and enjoy the surroundings as well as our dances.
</p>

<p>There are frequent UK and international flights to
<a href="http://www.glasgowairport.com/">Glasgow</a>
and <a href="http://www.edinburghairport.com/">Edinburgh</a>
</p>

  </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           
