
<div class="row">  <!-- BS, row 1 -->

<div class="col-md-12">  <!-- BS, col -->


<div class="panel panel-default">   <!-- BS -->
  <div class="panel-body">  <!-- BS -->

 <p>We look forward to welcoming you to the 2016 season, which is being planned now.
 </p>
 
 <p>Come along and experience the thrill of dancing in the open-air courtyard
 of the Palace where Mary Queen of Scots was born! 
 (if the weather is poor, we have an alternative venue)
 </p>
    </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           


 
 </div> <!-- BS col -->

</div>  <!-- BS, row 1 -->  

<div class="row">  <!-- BS, row 2 -->

 <div class="col-sm-4">  <!-- BS, col -->
   <img border="0" src="images/dancing/DSC_0135.jpg" class="img-responsive img-rounded" alt="picture of people making arches">
   <div class="vspacer30"></div>   <!-- space below -->
 </div> <!-- BS col -->

 <div class="col-sm-4">  <!-- BS, col -->
   <img border="0" src="images/DSC_0052.jpg" class="img-responsive img-circle" alt="scene of St Michaels church, next to the Palace">
   <div class="vspacer30"></div>   <!-- space below -->
 </div> <!-- BS col -->

 <div class="col-sm-4">  <!-- BS, col -->
   <img border="0" src="images/dancing/DSC_0040 12.jpg" class="img-responsive img-thumbnail" alt="picture of youngster dancing with mum">
   <div class="vspacer30"></div>   <!-- space below -->
 </div> <!-- BS col -->
 
</div>  <!-- BS, row 2 -->  
 
<div class="row">  <!-- BS, row 3 -->

 <div class="col-sm-4">  <!-- BS, col -->
   <img border="0" src="images/dancing/DSC_0164.jpg" class="img-responsive img-rounded" alt="picture of people dancing round the fountain">
   <div class="vspacer30"></div>   <!-- space below -->
 </div> <!-- BS col -->

 <div class="col-sm-4">  <!-- BS, col -->
   <img border="0" src="images/dancing/Crop 1.jpg" class="img-responsive img-circle" alt="picture of people dancing in the Low Port">
   <div class="vspacer30"></div>   <!-- space below -->
 </div> <!-- BS col -->

 <div class="col-sm-4">  <!-- BS, col -->
   <img border="0" src="images/bands/DSC_0144.jpg" class="img-responsive img-thumbnail" alt="picture of a band in the Palace">
   <div class="vspacer30"></div>   <!-- space below -->
 </div> <!-- BS col -->

</div>  <!-- BS, row 3 -->  



<div class="row">  <!-- BS, row 3 -->

<div class="col-md-12">  <!-- BS, col -->
   <div class="vspacer10"></div>   <!-- placeholder, or space below -->
 
 </div> <!-- BS col -->

</div>  <!-- BS, row 3 -->  

    


