


<h1>Possible &quot;About Us&quot; Page</h1>

Linlithgow Scotch Hop was first organised in 1981(?) by John Carswell.
Over the years a committee formed to help John with the increasing workload 
of organising the event, and running it each night.
Some of the main contributors in those years were ......

In 2014, a largely fresh committee was formed to organise the event, with John helping with advice.
A further set of volunteers old and new helped each night.

Before the 2016 season, 
       the committee decided to convert
       to a SCIO (Scottish Charitable Incorporated Organisation),
       regulated by OSCR (Office of the Scottish Charity Regulator).
       <BR>This made little difference to the way Scotch Hop runs each year,
        but formalises how the committee does things, ensures we act correctly, 
       and protects them as individuals acting in good faith, 
       if Scotch Hop should ever find itself in financial difficulties.
       <BR>Most of the previous Committee became Charity Trustees of the SCIO.
       
       <p>The details of our SCIO registration are :
       <BR>Full name:  Linlithgow Scotch Hop SCIO 
       <BR>Charity number SCO46165
       </p>
       
       <p>You can find more details of what this means at the 
       <a href="http://www.oscr.org.uk/charities/becoming-a-charity/scio">OSCR website</a>
       </p>


