<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h1 class="panel-title" id="QandA">Common Questions</h1>
  </div>
  <div class="panel-body">  <!-- BS -->
      

			<p>Here are the answers to some frequently asked questions. 
      If none of these answers your  questions please contact Sheila McCutcheon on 
        <a href="tel:+44-131-331-1528">
        <i class="fa fa-phone-square" aria-hidden="true" title="phone number"></i>
        +44 (0) 131 331 1528
        </a>
      </p>
      
<!-- 
The dt/dd lists (dictionary term / dictionary definition) used below are formatted by Bootstrap.
In custom CSS we try to improve further by overriding parts of the BS definitions.
-->      
      
<dl class="dl-horizontal">  <!-- BS -->    

			<dt>Are beginners welcome?</dt>
			<dd>Yes, it is &quot;Scottish Dancing for All&quot; and it attracts a wide range 
			of abilities and nationalities! A caller will provide instructions 
			for all of the dances. No need to do your homework on the dances 
			beforehand!
      </dd>

			<dt>Who goes to Linlithgow Scotch Hop?</dt>
			<dd>All age groups, nationalities and abilities join in the fun. 
			Experience it for yourself.</dd>
      
			<dt>Do I need to buy tickets beforehand?</dt>
			<dd>No, please buy them at the door on the night.
      If your Group is 10 or more people please telephone Sheila McCutcheon on 
        <a href="tel:+44-131-331-1528">
        <i class="fa fa-phone-square" aria-hidden="true" title="phone number"></i>
        +44 (0) 131 331 1528
        </a>
			or e-mail us at <a href="mailto:scotchhopcommittee@gmail.com">ScotchHopCommittee@gmail.com</a>
       BEFORE the day of the event to arrange a group ticket. </dd>
       
			<dt>Is there a band?</dt>
			<dd>Yes, that is one of the attractions of the event, 
      with some of the best Scottish Dance bands on stage.</dd>
      
			<dt>Is there a Caller?</dt>
      <dd>Yes! Our friendly and experienced caller will provide instructions	for all of the dances. 
      No need to do your homework on the dances beforehand! 
      </dd>
      
      <dt>How will I know whether the dancing is in the Palace or at the 
			Low Port Centre?</dt>
			<dd>We will  decide by 6pm on the day of each dance, 
       and we will post the decision on Twitter and Facebook.
       We use detailed local weather reports which can tell us about sudden changes of weather.

      <br />If you do not have access to Twitter or Facebook, you must decide which venue to try first
      - if it is raining or the sky is overcast, 
      the dancing will probably be at the Low Port Centre.
      If one venue is closed then it means the dancing is in the other one.
      It is a 10 minute walk or 5 minute drive between the two venues.
      </dd>
			
      <dt>What should I wear?</dt>
			<dd>A kilt if you have one, but the dress code is casual.
      If the dancing is indoors it can be very warm, 
      however in the Palace it can be cool and you may need a jersey/fleece. 
      The Palace floor is stone paving therefore we recommend ordinary street shoes (one which will stay on).
      If you have Scottish Country Dancing shoes, these can be good in the Low Port Centre, 
      but are unlikely to be suitable in the Palace.
      </dd>
			
			<dt>Is there seating?</dt>
			<dd>Yes, but it is limited, so we ask you to share seats with other dancers and with spectators.
      </dd>
			
			<dt>Is there a licenced bar at the venue?</dt>
			<dd>No, but there are plenty of bars and restaurants on Linlithgow High Street.
      </dd>
			
			<dt>Disabled access?</dt>
			<dd>
        <i class="fa fa-wheelchair" aria-hidden="true" title=""></i>
      Linlithgow Palace and the Low Port Centre have access and toilet 
			facilities for disabled people</dd>
			
			<dt>Can I get public transport back to Edinburgh/Glasgow or Stirling 
			after the event?</dt>
			<dd>
       <i class="fa fa-bus" aria-hidden="true" title=""></i>
      
      Yes, the dancing stops in time for people to be able to get 
			transport, but please check the 
			timetable of the transport company.</dd>
			
			<dt>Is there food or drink for sale?</dt>
			<dd>No, but Tea and shortbread are provided free at the interval. 
      Fresh water and fruit squash is available free at any time.
      </dd>
			
			<dt>Local Restaurants / Bars</dt>
			<dd>  Yes - several nearby :
      <ul>
			<li>Livingstons 
        <a href="tel:+44-1506-846565">
        <i class="fa fa-phone-square" aria-hidden="true" title="phone number"></i>
        +44 (0) 1506 846565
        </a>
			<li>Bar Leo 
        <a href="tel:+44-1506-846667">
        <i class="fa fa-phone-square" aria-hidden="true" title="phone number"></i>
        +44 (0) 1506 846667
        </a>
			<li>Four Marys 
        <a href="tel:+44-1506-842171">
        <i class="fa fa-phone-square" aria-hidden="true" title="phone number"></i>
        +44 (0) 1506 842171
        </a>
      </ul>
			Please mention Linlithgow Scotch Hop when booking.
			</dd>
      
			<dt>Are there special prices for Groups?</dt>
			<dd>If your Group is 10 or more people please contact Sheila McCutcheon on 
        <a href="tel:+44-131-331-1528">
        <i class="fa fa-phone-square" aria-hidden="true" title="phone number"></i>
        +44 (0) 131 331 1528
        </a>
       BEFORE the day of the event to arrange a group ticket.
      </dd>
			
			<dt>Tourist Information for Linlithgow</dt>
			<dd>If you require further information or directions or information on 
			Linlithgow and the surrounding area please contact 
      <ul>
      <li>
      Linlithgow Burgh Halls 
        <a href="tel:+44-1506-282720">
        <i class="fa fa-phone-square" aria-hidden="true" title="phone number"></i>
        +44 (0) 1506 282720
        </a>
       </li>
       <li>
      		<a target="_blank" class="fa fa-external-link" href="http://www.linlithgow.com/">
           Linlithgow local tourist web site, organised by Pride &amp; Passion Linlithgow.
              <img src="images/black_bitch_crest.gif" alt="Black Bitch Crest" width="67" height="67" hspace="3" border="0" align="right">
           </a>
        </li>        
        
        </ul>
			</dd>
      
			<dt>What Does Linlithgow Look Like?</dt>
			<dd>Here are some Web Cams around Linlithgow
      <li>
      <a target="_blank" class="fa fa-external-link" href="http://www.linlithgow.com/webcam_cross.htm">
      The Cross</a>
      </li>
      <li>  
      <a target="_blank" class="fa fa-external-link" href="http://www.linlithgow.com/webcam_canal.htm">
      Canal Basin</a>
      </li>
      </ul>
      </dd>

      <dt>Tourist Information for Scotland</dt>
			<dd> 
         <ul>
         <li>
 						<a target="_blank" class="fa fa-external-link" href="http://www.visitscotland.com/">
             Scottish	Tourist Board
						  <img border="0" src="images/Inform1.jpg" width="120" height="32" alt="visit Scotland logo">
            </a>
         </li>
         </ul>
      </dd>

			<dt>Where can I find out about similar events?</dt>
			<dd> Here are some resources you may find useful.  
      <ul>
      
      <li>
      <a target="_blank" class="fa fa-external-link" href="http://www.scottishdance.net/">
       Scottish Dance Web  (&quot;Grand Chain&quot;)
				<img src="images/saltireLogo.png"" alt="Grand Chain logo on Saltire" width="119" height="80">
      </a>
      lists Scottish Dance &amp; Ceilidh Information
      </li>
      <li>
         <a target="_blank" class="fa fa-external-link"  href="http://www.mikescommunity.com/">
          Mike's Community</a>
          lists ceilidhs and other events of interest to like-minded people.
      </li>
      
      </ul>						            
			</dd>

			<dt>Where can I find out more about Scottish dancing?</dt>
			<dd>
      <ul>
      <li>  
						<a target="_blank" class="fa fa-external-link" href="http://www.linlithgowscdc.org/">
            Linlithgow Scottish Country Dance Club
					  	<img src="images/logo_new_colour_2small.png" width="69" height="80" alt="Linlithgow Scottish Country Dance Club">
            </a>
        </li>
      <li>
              <a target="_blank" class="fa fa-external-link" href="http://www.rscds.org/index.php">
              Royal Scottish Country Dance Society
             <img src="images/logo.gif" border="0" width="133" height="71" alt="RSCDS logo">
             </a>
        </li>
      </ul>

			</dd>

     <dt>Where can I get recordings of Scottish dance music?</dt>
			<dd> Many recordings are now available, in shops and online. 
      </dd>



</dl>      

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           


              

