<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
    <h2 class="panel-title" id="venues-panel">Venue Details</h2>
  </div>
  <div class="panel-body">  <!-- BS -->

<h1>Which Venue &amp; Where? Details?</h1>

<p>Whenever possible, we will dance in the Palace. 
However, as an open-air venue, there will be times when the weather will not be suitable.
On these occasions we will use our alternative indoors venue, 
for the sake of the band as well as the dancers.
			<br>A decision is made as late as possible (up to 6.00pm). 
      If there is any doubt, the dancing will be inside, at 
			the Low Port Centre, Blackness Road opposite Tesco to the East side 
			of town.</p>
      
			<p>If the Scotch Hop is to be held in the Low Port Centre it will be posted 
      on twitter click here 
			<a href="http://twitter.com/#!/search/realtime/scotchhopp ">
			<img border="0" src="images/twitter.gif" width="40" height="40" alt="twitter logo">
      </a>
			</p>
			<p>you can follow us on twitter @scotchhopp</p>

			<p> <b>Google Map</b> locations 
      <p><strong> Need to tweak the main Linlithgow map so this one (for the 2 venues) also shows</strong></p>

<!-- This map area is populated by JS, using the Google Maps API. Also needs our custom CSS and JS -->
<div id="map_wrapper3">
    <div id="map_canvas3" class="mapping"></div>
</div>      
      




<h2>Finish</h2>
			<p>The programme usually takes us up to about 10.00 p.m. in the Palace.
      It may also get a bit chilly and dark by this time, especially in the later weeks
      - we do have lighting, but heating is not feasible.
      </p>
      <p>We usually finish about 10.30 p.m. in Low Port Centre.</p>

<h2>Seating</h2>
<p> There is limited availability of seating at both venues.</p>      

<h2>Wheelchair access</h2>
<p>Palace - one small step</p>
<p>Low Port Centre - ramps and lift.</p>  
<p>At both venues, space is reserved for wheelchairs.</p>        

<h2>Toilets</h2> 
			<p>The Palace has limited accommodation, but has a disabled one.</p>
			<p>There are also toilets in the Burgh Halls in the Kirkgate on the approach to the Palace.</p>
      <p> The Low Port has ample toilets, including some with disabled access.</p>

  </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           

