

<strong>THIS IS THE PROGRAMME FOR 2015</strong><br />
	 			   This page will be updated with the 2016 programme as soon as it's available

<div class="row">  <!-- BS, row, programmes -->

<div class="col-md-12">  <!-- BS, col -->

<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
    <h2 class="panel-title" id="dancing-panel">Dancing</h2>
  </div>
  <div class="panel-body">  <!-- BS -->

  <p>We usually have a piper to welcome you to the Palace.
  Sometimes these are professional musicians, sometimes they are talented students
  (the Scottish Conservatoire offers degrees in piping).
  </p>

  <p>Each night we have a high quality live Scottish band, 
  chosen for their ability to make dancing most enjoyable.
  </p>
  
			<p>There is a wide range of dances, Scottish and international. 
      Our experienced caller gives instruction for them all, before and during the dance.
      <br>Each night we include a small number of more difficult Scottish Country dances,
      danced at the same time, to the same music, as an easier one.
      Instructions for the harder dance are given before the dance but not during it.
      </p>
      
			<p>The <strong>Palace Courtyard</strong> is open air with stone paving, and can be quite cool.</p>
			<p>The <strong>Low Port Centre </strong> is a large hall with a sprung floor, and usually gets very warm!</p>

  </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           
</div >  <!-- BS, col -->



</div >  <!-- BS, row -->



<div class="row">  <!-- BS, row, programmes -->



<div class="col-md-4">  <!-- BS, col -->
<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
    <h2 class="panel-title">Wednesday 15th July 2015 at 7.30pm</h2>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span> <!-- see myJS -->
  </div>
  <div class="panel-body">  <!-- BS -->
   <p><strong>Iain Anderson SDB</strong></p>

<p>Gay Gordons</p>
<p >Saturday Morning Jig</p>
 <p>Virginia Reel</p>
 <p>Britannia Two Step</p>
 <p>Lady Catherine Bruce&#39;s Reel</p>
  <p>Highland Schottische</p>
  <p>Irish Rover  / Isle of Skye</p>
  <p>The Riverside Jig</p>
  <p>Marches Hop</p>
  <p>Flowers of Edinburgh</p>
  <p>Lomond Waltz</p>
  <p>Jig to the Music</p>
  <p>Gypsy Tap</p>
  <p>Dunedin Festival Dance</p>
  <p>Joe MacDiarmid&#39;s Jig</p>

  </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           
</div >  <!-- BS, col -->

<div class="col-md-4">  <!-- BS, col -->
<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
    <h2 class="panel-title">Wednesday 22nd July 2015 at 7.30pm</h2>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span> <!--see myJS -->
  </div>
  <div class="panel-body">  <!-- BS -->

<p><strong><a href="http://www.theoccasionals.com/">The Occasionals</a></strong></p>

  <p>Gay Gordons</p>
  <p>Come Under my Plaidie</p>
  <p>Boston Tea Party</p>
  <p>Marine Four Step</p>
  <p>Black Mountain Reel / A Reel for Jeannie</p>
  <p>Siege of Ennis</p>
  <p>Pride of Erin Waltz</p>
  <p>Eightsome Reel</p>
  <p>The Bridge of Athlone</p>
  <p>Allemande&#39;s March</p>
  <p>The Triumph</p>
  <p>Hullichan&#39;s Jig</p>
  <p>Deil Amang the Tailors</p>
 <p>Canadian Barn Dance</p>
  <p>Strip the Willow / Postie&#39;s Jig </p>

  </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->
</div >  <!-- BS, col -->

<div class="col-md-4">  <!-- BS, col -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">Wednesday 29th July 2015 at 7.30pm</h2>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span> <!--see myJS -->
  </div>
  <div class="panel-body">
    <p><strong>Wayne Robertson</strong></p>

                <p>Gay Gordons</p>
                <p>Haymaker&#39;s Jig</p>
                <p>The Oxo Reel</p>
                <p>Kelvingrove Two Step</p>
                <p>Roaring Jelly / Flying Scotsman</p>
                <p >Jacky Tar Two Step</p>
                <p>A Highland Welcome</p>
                <p>The Dhoon Jig</p>
                <p>Dashing White Sergeant</p>
                <p>Hamilton House</p>
                <p>Southern Rose waltz</p>
                <p>Loch Ness Monster</p>
                <p>Mississippi Dip</p>
                <p>The Russian Ballet</p>
                <p>Barley Bree</p>
 
  </div>   <!-- BS panel-body -->
</div>  <!-- BS panel --> 
</div >  <!-- BS, col -->

  <!-- Add clearfix so 2 blocks below are in one row below the 3 above (in md displays and wider) -->
  <div class="clearfix visible-md-block"></div>

<div class="col-md-4">  <!-- BS, col -->          
<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
    <h2 class="panel-title">Wednesday 5th August 2015 at 7.30pm</h2>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span> <!--see myJS -->
  </div>
  <div class="panel-body">  <!-- BS -->

                <p><strong>Matthew MacLennan SDB</strong></p>

                <p>Gay Gordons</p>
                <p>Three Sheepskins</p>
                <p>Torryburn Lassies</p>
                <p>Military Two Step</p>
                <p>Duke and Duchess of Edinburgh / Grassmarket Reel</p>
                <p>Highland Schottische</p>
                <p>Waltz Country Dance</p>
                <p>Riverside Jig</p>
                <p>The Shortbread Dance</p>
                <p>Circassian Circle</p>
                <p>Espie McNabb</p>
                <p>La Rosa Waltz</p>
                <p>Broun&#39;s Reel / The Black Dance</p>
                <p>Eva Three Step</p>
                <p>Carswell&#39;s Canter</p>
 
   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->
 </div >  <!-- BS, col -->
 
<div class="col-md-4">  <!-- BS, col -->

<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
    <h2 class="panel-title">Wednesday 12th August 2015 at 7.30pm</h2>
					<span class="pull-right clickable"><i class="glyphicon glyphicon-chevron-up"></i></span> <!--see myJS -->
  </div>
  <div class="panel-body">  <!-- BS -->

                <p><strong>John Carmichael</strong></p>
                <p>Gay Gordons</p>
                <p>Come Under my Plaidie</p>
                <p>Flowers of Edinburgh</p>
                <p>Britannia Two Step</p>
                <p>Fisherman&#39;s Reel / Domino Five</p>
                <p>Stepping Stone Rag</p>
                <p>St. Bernard&#39;s Waltz</p>
                <p>The Foula Reel</p>
                <p>Mississippi Hot Dog</p>
                <p>The Rock and the Wee Pickle Tow</p>
                <p>The Atlantic Mixer</p>
                <p>Eightsome Reel</p>
                <p>Canadian Barn Dance</p>
                <p>Witches Reel</p>
                <p>Orcadian Strip the Willow</p>

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->                 
</div >  <!-- BS, col -->

</div>  <!-- BS, row, programmes -->

