
<div class="row">  <!-- BS, row 1 -->

<div class="col-md-12">  <!-- BS, col -->


<div class="panel panel-default">   <!-- BS -->
  <div class="panel-body">  <!-- BS -->

 <p class="lead">Scottish Dancing for All in Linlithgow Palace Courtyard</p> 
 <p>Experience the thrill of dancing in the open-air courtyard
 of the Palace where Mary Queen of Scots was born! 
 If the weather is poor, we use the Low Port Centre nearby.
 </p>
 <p>2016 dates: July 13th, 20th & 27th, August 3rd & 10th (Wednesdays at 7.30pm).</p>

  </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           


 
 </div> <!-- BS col -->

</div>  <!-- BS, row 1 -->  



<div class="row">  <!-- BS, row 2 -->

<div class="col-md-12">  <!-- BS, col -->

  <div class="alert  alert-info"  role="alert"> <!-- feeds - twitter, facebook etc -->
  <h1  class="sr-only">Latest Information</h1>
 <p>We update Twitter and Facebook (below) by 6pm on the day of each dance, 
 to let you know which venue we will use.
 </p>
 
 <div class="row">  <!-- BS, nested row 1 -->

  <div class="col-md-6 text-center">  <!-- BS, col -->
 <h2 class="sr-only">Twitter</h2>
 
<!-- Insert of Twitter widget, created 30/3/16 by Rory, linebreaks added to script for legibility  -->
 <a target="_blank" class="fa fa-external-link twitter-timeline" data-dnt="true" 
 href="https://twitter.com/Scotchhopp" 
 data-widget-id="715169898964582400"
 data-width="300" 
 data-height="200"
 >
 Tweets by @Scotchhopp
 </a>
 <!-- The Twitter script below should perhaps be elsewhere for tidiness, but here for now alongside the twitter html etc -->
<script>
!function(d,s,id){
 var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
 if(!d.getElementById(id)){
  js=d.createElement(s);
  js.id=id;
  js.src=p+"://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js,fjs);
 }
}
(document,"script","twitter-wjs");
</script>
<!-- end of Twitter widget -->

  </div>  <!-- BS, col -->


  <div class="col-md-6 text-center">  <!-- BS, col -->

  <h2 class="sr-only">Facebook</h2>
   <!-- The Facebook script below should perhaps be elsewhere for tidiness, but here for now alongside the Facebook html etc -->
   <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
 
<div 
class="fb-page" 
data-href="https://www.facebook.com/linlithgowscotchhop" 
data-width="300"  data-height="200"
data-tabs="timeline, events, messages" 
data-small-header="true" 
data-adapt-container-width="true" 
data-hide-cover="true"
data-show-facepile="false" 
>
 <div class="fb-xfbml-parse-ignore">
 <p><blockquote cite="https://www.facebook.com/linlithgowscotchhop">
  <a target="_blank" class="fa fa-external-link" href="https://www.facebook.com/linlithgowscotchhop">Linlithgow Scotch Hop on Facebook</a>
 </blockquote></p>
 </div>
</div>

  </div class="col-md-6">  <!-- BS, col -->
 </div>  <!-- BS, nested row 1 -->

 </div> <!-- BS alert box -->
  
 </div> <!-- BS col -->

</div>  <!-- BS, row 2 -->  



<div class="row">  <!-- BS, row 2 -->
 <h1 class="sr-only">Some Pictures</h1>
 
 <div class="col-sm-4">  <!-- BS, col -->
   <img border="0" src="images/newtemp16/Linlithgow-Palace-Scotch-Hop-2014-217forWeb308x205-q75.jpg" 
   class="img-responsive img-thumbnail  center-block" alt="picture of people and the fountain">
   <div class="vspacer30"></div>   <!-- space below -->
 </div> <!-- BS col -->

 <div class="col-sm-4">  <!-- BS, col -->
   <img border="0" src="images/DSC_0052.jpg" 
   class="img-responsive img-circle center-block" alt="scene of St Michaels church, next to the Palace">
   <div class="vspacer30"></div>   <!-- space below -->
 </div> <!-- BS col -->

 <div class="col-sm-4">  <!-- BS, col -->
   <img border="0" src="images/dancing/DSC_0040 12.jpg" 
   class="img-responsive img-thumbnail  center-block" alt="picture of youngster dancing with mum">
   <div class="vspacer30"></div>   <!-- space below -->
 </div> <!-- BS col -->
 
</div>  <!-- BS, row 2 -->  
 
<div class="row">  <!-- BS, row 3 -->

 <div class="col-sm-4">  <!-- BS, col -->
   <img border="0" src="images/newtemp16/IMG_0552LinlithgowKiltsSunshineArchway308x205-q75.jpg" 
   class="img-responsive img-thumbnail  center-block" alt="picture of people dancing round the fountain">
   <div class="vspacer10"></div>   <!-- space below -->
 </div> <!-- BS col -->

 <div class="col-sm-4">  <!-- BS, col -->
   <img border="0" src="images/newtemp16/IMG_0271EveningSunshinePalaceLoch309x329_q75.jpg" 
   class="img-responsive img-circle  center-block" alt="picture of Palace across the Loch">
   <div class="vspacer10"></div>   <!-- space below -->
 </div> <!-- BS col -->

 <div class="col-sm-4">  <!-- BS, col -->
   <img border="0" src="images/bands/DSC_0144.jpg" 
   class="img-responsive img-thumbnail  center-block" alt="picture of a band in the Palace">
   <div class="vspacer10"></div>   <!-- space below -->
 </div> <!-- BS col -->

</div>  <!-- BS, row 3 -->  



<div class="row">  <!-- BS, row 4 -->

 <h2 class="sr-only">This Year's Main Sponsors</h2>
 <p class="sr-only">West Lothian Council has helped to fund Linlithgow Scotch Hop for many years.
 Awards for All Scotland is helping to fund us in 2016.
 </p>

 <div class="col-xs-6">  <!-- BS, col --> 
 
 <p>&nbsp;</p> <!-- push the WL logo down a bit to centre vertically on Lottery logo -->
 <p  class="text-center"  >  <!-- BS -->
<a href="http://www.westlothian.gov.uk/"  style="background-color:white;"
title="We are very grateful to West Lothian Community Arts, which has helped to fund Linlithgow Scotch Hop for many years."
>
<!-- the WL logo, natural size, 220x96  -->
<img border="0" 
src="images/vendors/WestLothian_220x96px_16col.png" 
width="220" height="96" 
alt="logo of West Lothian Council" 
/>
</a>
</p>
 </div> <!-- BS col -->

 <div class="col-xs-6">  <!-- BS, col --> 
 <p  class="text-center"  >  <!-- BS -->
 <a href="https://www.biglotteryfund.org.uk/scotland"
 title="We are very grateful to Awards for All Scotland for its help in funding Linlithgow Scotch Hop in 2016."
 >
 <!-- the Lottery image, natural size 180x135 -->
 <img src="images/vendors/AwardsForAllScotland/lottery-funded.jpg" 
 width="180" height="135" 
alt="logo of Awards for All Scotland" 
 />
 </a>
 </p>
 </div> <!-- BS col -->

</div>  <!-- BS, row 4 -->  

    


