<!-- Nav (separate file) -->
<a class="sr-only sr-only-focusable" href="#content">Skip to main content</a> <!-- BS, accessibility -->

<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <!-- Brand and toggle button get grouped for better mobile display -->
    <div class="navbar-header">  
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav nav-tabs" role="tablist">
      <!-- in the list/link elements below, which enable different sections of the html as a tab, 
         role="presentation" ....
         role="tab" data-toggle="tab"   ....  owned by the <ul role="tablist"> above 
         and related to the various <div role="tabpanel"> below (each enabled by one of the nav links).
         role="tablist" (<UL> above) is a list of role="tab" elements, which are references to role="tabpanel" elements.
         aria-controls="tickets" href="#tickets"  both refer to the id of the div which is the related tabpanel.
         If CSS is disabled (tabbed display does not work), these do not appear to function as links - odd ?
         This may be a side effect of the tab role of each link. Fix unknown, if needed.
      -->
            <li role="presentation" class="active"><a role="tab" data-toggle="tab" aria-controls="home" href="#home">Home</a></li>
            <li role="presentation"               ><a id="tab-twitter" role="tab" data-toggle="tab" aria-controls="twitter" href="#twitter">Latest</a></li>
            <li role="presentation"               ><a id="tab-dancing" role="tab" data-toggle="tab" aria-controls="dancing" href="#dancing">Programmes</a></li>
            <li role="presentation"               ><a id="tab-tickets" role="tab" data-toggle="tab" aria-controls="tickets" href="#tickets">Tickets</a></li>
            <li role="presentation"               ><a id="tab-travel" role="tab" data-toggle="tab" aria-controls="travel" href="#travel">Travel</a></li>
            <li role="presentation"               ><a id="tab-venues" role="tab" data-toggle="tab" aria-controls="venues" href="#venues">Venues</a></li>
            <li role="presentation"               ><a id="tab-tourism" role="tab" data-toggle="tab" aria-controls="tourism" href="#tourism">Tourism</a></li>
            <li role="presentation"               ><a role="tab" data-toggle="tab" aria-controls="Q_A" href="#Q_A">Q&amp;A</a></li>
            <li role="presentation"               ><a role="tab" data-toggle="tab" aria-controls="about" href="#about">About Us</a></li>
            <li role="presentation"               ><a role="tab" data-toggle="tab" aria-controls="credits" href="#credits">Acknowledgments</a></li>
            <li role="presentation"               ><a role="tab" data-toggle="tab" aria-controls="Information" href="#Information">Information</a></li>
            <li><a href="Pictures.html">Pictures</a></li>
            <li><a href="Information.html">Info</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

