

<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
    <h2 class="panel-title">Tickets</h2>
  </div>
  <div class="panel-body">  <!-- BS -->

<h2>Single Ticket Pricing</h2>

<p>These are 2015 ticket prices - 2016 is likely to be similar.</p>

<p>Full price &pound;8.50</p>
<p>Concessions (OAP, student etc?)   &pound;6.50</p>
<p>Accompanied children under 12 free</p>

<h2>Season Ticket Pricing</h2>
<p>Full price &pound;26 </p>
<p>Concessions (OAP, student etc?)   &pound;20</p>
<p>Accompanied children under 12 even more free</p>

  
<h2>Group bookings</h2>
			<p>If your Group is 10 or more people please contact Sheila McCutcheon on 0131-331 1528
       or e-mail us at 
       <a href="mailto:scotchhopcommittee@gmail.com">ScotchHopCommittee@gmail.com</a>
        BEFORE the day of the event to arrange a group ticket.
        </p>      

          </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           

      
