

<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
    <h1 class="panel-title">2016 Prices - 2017 prices not yet available</h1>
  </div>
  <div class="panel-body">  <!-- BS -->

<p class="lead">Tickets &pound;8.50 at the door. Concessions are also available.</p>
<p>All tickets can be purchased on the night, at the door.
Payment by cash only please. There is a cash machine (ATM) in the High Street.</p>

<h2>Single Ticket Pricing</h2>

<p>Full price &pound;8.50</p>
<p>Concessions &pound;6.50</p>
<p>Accompanied children under 12 free</p>

<h2>Season Ticket Pricing</h2>
<p>Full price &pound;26 </p>
<p>Concessions &pound;20</p>
<p>Accompanied children under 12 free</p>

  
<h2>Group bookings</h2>
			<p>If your Group is 10 or more people please contact Sheila McCutcheon on 0131-331 1528
       or e-mail us at 
       <a href="mailto:scotchhopcommittee@gmail.com">ScotchHopCommittee@gmail.com</a>
        BEFORE the day of the event to arrange a group ticket.
        </p>      

          </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           

      
