             

<h1>mostly from Information page</h1>

<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h2 class="panel-title" id="linlithgow">About Linlithgow</h2>
  </div>
  <div class="panel-body">  <!-- BS -->

			<p ><b>Linlithgow:</b> is  20 miles west of Edinburgh, 
			</p>   
      <p><strong> Need to tweak this map so it's not just the 2 venues</strong></p>

<!-- This map area is populated by JS, using the Google Maps API. Also needs our custom CSS and JS -->
<!-- This may be the same map as used for the 2 venues. May need to be different for people driving here. -->
<div id="map_wrapper1">
    <div id="map_canvas1" class="mapping"></div>
</div>      
      
      <p><b>Linlithgow Palace</b> (EH49 7AL) is in the town centre. 
      <b>Low Port Centre</b> (EH49 7HZ) is on Blackness Road on the east side of the town, opposite Tesco.      
      </p>            
 
 <h2>by Road</h2>     
 Junction 3 or 4 from M9 motorway
      There is limited parking at the Palace itself, with some spaces reserved for Blue Badge holders.
      There is also plenty of parking a short walk away - please consider using this.
      At the Low Port itself, parking is even more limited, but there is a large car park over the road near Teso.


 <h2>by Rail</h2> 
 Linlithgow is on the Edinburgh-Glasgow railway line. The station is about 0.5km from either venue.    
			<p> Click here for 
			<a href="http://www.firstgroup.com/scotrail/index.php">Scottish Train Timetables&nbsp;website&nbsp;</a>
      </p>

<h2>by Bus</h2>

.....

<h2>by Bike</h2>

Yes, some people do arrive this way!
The canal offers a fairly flat route, from Edinburgh or Falkirk.

<h2>About Linlithgow</h2>
			<p ><b>Linlithgow:</b> is the birthplace of Mary Queen of	Scots.
			</p>      
      
			<p>Click to see the Web Cams around 
      <b><a href="http://www.linlithgow.com/webcam_cross.htm">The Cross</a></b> 
			and the <b><a href="http://www.linlithgow.com/webcam_canal.htm">Canal Basin</a> </b>
      in Linlithgow.
      </p>

<h2>Tourist Info</h2>
			<p>For general tourist information not connected with Scotch Hop</p>
			<p>Burgh Halls 01506 282720</p>
      
      <p>
      <a href="http://www.scottishdance.net/">Scottish Dance &amp; Ceilidh Information</a>
      <a href="http://www.scottishdance.net/">
						<img src="images/saltireLogo.png" alt="Grand Chain logo on Saltire" width="119" height="80">
            </a>
            </p>						            
						
						<p>
						<a href="http://www.linlithgowscdc.org/">Linlithgow Scottish Country Dance Club</a>
						<a href="http://www.linlithgowscdc.org/">
						<img src="images/logo_new_colour_2small.png" width="69" height="80" alt="Linlithgow Scottish Country Dance Club">
            </a>
            </p>
            
						<p>
						<a target="_blank" href="http://www.musicinscotland.com/highlandermusic/highlander_music_label.htm">
						<img border="0" src="images/Highland%20music.jpg" width="164" height="80" alt="Highlander music logo">
            </a>for dance music cds
            </p>
            
            
            <p>
						<a href="http://www.visitscotland.com/">Scottish	Tourist Board</a>
            <a href="http://www.visitscotland.com/">
						<img border="0" src="images/Inform1.jpg" width="120" height="32" alt="visit Scotland logo">
            </a>
            </p>
            
						<p>
            <a href="http://www.linlithgow.com/pride_passion.htm">
            <img src="images/black_bitch_crest.gif" alt="Black Bitch Crest" width="67" height="67" hspace="3" border="0" align="right">
            </a>
            </p>
            
						<p>
						<a href="http://www.linlithgow.com/"> Linlithgow - A Great Visit</a>
            </p>
            
            <p>
            <a href="http://www.rscds.org/index.php">
            <img src="images/logo.gif" border="0" width="133" height="71" alt="RSCDS logo">
            </a>
            </p>

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->                 



<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
    <h2 class="panel-title" id="dancing">Dancing</h2>
  </div>
  <div class="panel-body">  <!-- BS -->

  <p>We usually have a piper to welcome you to the Palace.
  Sometimes these are professional musicians, sometimes they are talented students
  (the Scotish Conservatoire offers degreees in piping).
  </p>

  <p>Each night we have a high quality live Scottish band, 
  chosen for their ability to make dancing most enjoyable.
  </p>
  
			<p>There is a wide range of dances, Scottish and international. 
      Our experienced caller gives instruction for them all, before and during the dance.
      <br>Each night we include a small number of more difficult Scottish Country dances,
      danced at the same time, to the same music, as an easier one.
      Instructions for the harder dance are given before the dance but not during it.
      </p>
      
			<p>The <strong>Palace Courtyard</strong> is open air with stone paving, and can be quite cool.</p>
			<p>The <strong>Low Port Centre </strong> is a large hall with a sprung floor, and usually gets very warm!</p>

  </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           


<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
    <h2 class="panel-title" id="venues-panel">Venue Details</h2>
  </div>
  <div class="panel-body">  <!-- BS -->

<h1>Which Venue &amp; Where? Details?</h1>

<p>Whenever possible, we will dance in the Palace. 
However, as an open-air venue, there will be times when the weather will not be suitable.
On these occasions we will use our alternative indoors venue, 
for the sake of the band as well as the dancers.
			<br>A decision is made as late as possible (up to 6.00pm). 
      If there is any doubt, the dancing will be inside, at 
			the Low Port Centre, Blackness Road opposite Tesco to the East side 
			of town.</p>
      
			<p>If the Scotch Hop is to be held in the Low Port Centre it will be posted 
      on twitter click here 
			<a href="http://twitter.com/#!/search/realtime/scotchhopp ">
			<img border="0" src="images/twitter.gif" width="40" height="40" alt="twitter logo">
      </a>
			</p>
			<p>you can follow us on twitter @scotchhopp</p>

			<p> <b>Google Map</b> locations 
      <p><strong> Need to tweak the main Linlithgow map so this one (for the 2 venues) also shows</strong></p>

<!-- This map area is populated by JS, using the Google Maps API. Also needs our custom CSS and JS -->
<div id="map_wrapper2">
    <div id="map_canvas2" class="mapping"></div>
</div>      
      




<h2>Finish</h2>
			<p>The programme usually takes us up to about 10.00 p.m. in the Palace.
      It may also get a bit chilly and dark by this time, especially in the later weeks
      - we do have lighting, but heating is not feasible.
      </p>
      <p>We usually finish about 10.30 p.m. in Low Port Centre.</p>

<h2>Seating</h2>
<p> There is limited availability of seating at both venues.</p>      

<h2>Wheelchair access</h2>
<p>Palace - one small step</p>
<p>Low Port Centre - ramps and lift.</p>  
<p>At both venues, space is reserved for wheelchairs.</p>        

<h2>Toilets</h2> 
			<p>The Palace has limited accommodation, but has a disabled one.</p>
			<p>There are also toilets in the Burgh Halls in the Kirkgate on the approach to the Palace.</p>
      <p> The Low Port has ample toilets, including some with disabled access.</p>

  </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           


