
<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h1 class="panel-title" id="linlithgow">About Linlithgow</h1>
  </div>
  <div class="panel-body">  <!-- BS -->

			<p ><b>Linlithgow:</b> is  20 miles west of Edinburgh, 
			</p>   
      <p><strong> Need to tweak this map so it's not just the 2 venues</strong></p>




<!-- This map area is populated by JS, using the Google Maps API. Also needs our custom CSS and JS -->
<!-- This may be the same map as used for the 2 venues. May need to be different for people driving here. -->
<div id="map_wrapper">
    <div id="map_canvas" class="mapping"></div>
</div>      



      
      <p><b>Linlithgow Palace</b> (EH49 7AL) is in the town centre. 
      <b>Low Port Centre</b> (EH49 7HZ) is on Blackness Road on the east side of the town, opposite Tesco.      
      </p>            
 
 <h2>by Road</h2>     
 Junction 3 or 4 from M9 motorway
      There is limited parking at the Palace itself, with some spaces reserved for Blue Badge holders.
      There is also plenty of parking a short walk away - please consider using this.
      At the Low Port itself, parking is even more limited, but there is a large car park over the road near Teso.


 <h2>by Rail</h2> 
 Linlithgow is on the Edinburgh-Glasgow railway line. The station is about 0.5km from either venue.    
			<p> Click here for 
			<a href="http://www.firstgroup.com/scotrail/index.php">Scottish Train Timetables&nbsp;website&nbsp;</a>
      </p>

<h2>by Bus</h2>

.....

<h2>by Bike</h2>

Yes, some people do arrive this way!
The canal offers a fairly flat route, from Edinburgh or Falkirk.

  </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           
