<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h1 class="panel-title" id="LSHhistory">The History of Scotch Hop</h1>
  </div>
  <div class="panel-body">  <!-- BS -->

<p>Linlithgow Scotch Hop was first organised, and compered, in 1979 by John Carswell.
Over the years a committee formed to help John with the increasing workload 
of organising the event, and running it each night.
Some of the main contributors in those years were Alan and Jeanette Scott, ....
</p>

<p>In 2014, a largely fresh committee was formed to organise the event, with John helping with advice.
A further set of volunteers old and new helped each night.
</p>

<p>For the 2016 season, the committee decided to convert into a SCIO,
a type of organisation which had only recently been formalised in law.
This was intended to make no difference to the way Scotch Hop runs each year,
 but formalised how the committee did some things, 
 and protected them as individuals acting in good faith.
Most of the previous Committee became Charity Trustees of the SCIO.
</p>

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           




<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h1 class="panel-title" id="AboutLSH">About Us Now</h1>
  </div>
  <div class="panel-body">  <!-- BS -->

<p>Since early 2016 (our 27th year), Linlithgow Scotch Hop has formally 
been a SCIO (Scottish Charitable Incorporated Organisation), 
regulated by OSCR (Office of the Scottish Charity Regulator). 
</p>

<p>This formalises how the committee do things, 
 and protects us as individuals acting in good faith.
</p>
      
<p>The details of our SCIO registration are :
 <BR>Full name:  Linlithgow Scotch Hop SCIO 
 <BR>Charity number SCO46165
</p>
      
 <p>You can find more details of what this means at the 
 <a href="http://www.oscr.org.uk/charities/becoming-a-charity/scio">OSCR website</a>
 </p>

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           


