<!-- start of HomePageVenueTabContent.html -->

<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
    <h1 class="panel-title" id="venues-panel">Venue Details</h1>
  </div>
  <div class="panel-body">  <!-- BS -->

    <p>Whenever possible, the dance will be in the Linlithgow Palace courtyard. 
    However, as an open-air venue, there will be times when the weather will not be suitable.
    On these occasions we will dance indoors at the Low Port Centre.

    </p
    <p>
			A decision is made by 6.00pm 
      and posted on twitter and Facebook (see the Home tab).
    </p>
            

    <div class="panel panel-default">   <!-- BS nested panel -->
      <div class="panel-heading">
        <h2 class="panel-title">Details of Linlithgow Palace
      	  <a role="button" data-toggle="collapse" href="#venue-palace" aria-expanded="false" aria-controls="venue-palace">
            <span class="pull-right clickable panel-collapsed">
             <i class="glyphicon glyphicon-chevron-down"></i>
            </span> <!-- see myJS -->
          </a>
        </h2>
      </div>
      <div class="panel-body collapse" id="venue-palace">  <!-- BS -->

      <div id="map_wrapper3">
        <div id="map_canvas3" class="mapping"></div>
    <!--
    This is intended as a map of Linlithgow, focussing on the Palace,
    intended mainly to help people to find the right place in Linlithgow.  
    Our custom CSS controls its size etc. Our JS defines the content (area, markers etc).
    CSS and JS both locate it by its id. If the CSS/JS does not know this id, the map will not appear. 
     -->
        </div>      

        <h3>Dancing</h3>
        <p>The floor of the Palace Courtyard is stone paving, which may feel hard if you have soft shoes.
          Dancing in the open air can be a little cold.</p>

        <h3>Seating</h3>
        <p> There is limited availability of seating.
          Like the dancing, it is outdoors, 
          and it can get chilly despite the shelter provided by the Palace walls. 
          We recommend warm clothing or a blanket, 
          especially if you may be watching more than dancing.
        </p>    

        <p>We kindly ask you to share seats, 
        with each other and with elderly or disabled spectators.
        Also, please try not to stand in front of seated spectators during demonstrations or dances.
        </p>  

        <h3>Wheelchair access</h3>
        <p>There is a ramp at the entrance, and some parts of the surface are uneven, 
        but it is generally accessible to wheelchairs.
        Some space is reserved for wheelchairs.</p>        

        <h3>Toilets</h3> 
        <p>There is one toilet in the Palace, reserved for the disabled. This cannot be used while tea is being served.</p>
        <p>There are toilets in the Burgh Halls in the Kirkgate on the approach to the Palace.</p>

      </div>   <!-- BS panel-body -->
    </div>  <!-- BS panel -->           



    <div class="panel panel-default">   <!-- BS nested panel -->
      <div class="panel-heading">
        <h2 class="panel-title">Details of the Low Port Centre
      	  <a role="button" data-toggle="collapse" href="#venue-lowport" aria-expanded="false" aria-controls="venue-lowport">
            <span class="pull-right clickable panel-collapsed">
              <i class="glyphicon glyphicon-chevron-down"></i>
            </span> <!-- see myJS -->
          </a>
        </h2>
      </div>
      <div class="panel-body collapse" id="venue-lowport">  <!-- BS -->

        <div id="map_wrapper3">
          <div id="map_canvas3" class="mapping"></div>
    <!--
    This is intended as a map of Linlithgow, focussing on the Low Port,
    intended mainly to help people to find the right place in Linlithgow.  
    Our custom CSS controls its size etc. Our JS defines the content (area, markers etc).
    CSS and JS both locate it by its id. If the CSS/JS does not know this id, the map will not appear. 
    -->
        </div>      


        <p>The Low Port Centre is on Blackness Road opposite Tesco to the East side of town.
        </p>
        <p>Entry is on the ground floor, dancing is in a large hall on the first floor.</p>

        <h3>Dancing</h3>
        	<p>The Low Port Centre is a large hall with a sprung floor, and usually gets very warm!</p>

        <h3>Seating</h3>
        <p> There is limited availability of seating.
        The venue can get very warm, especially for dancers.
        </p>      

        <p>We kindly ask you to share seats, 
        with each other and with elderly or disabled spectators.
        Also, please try not to stand in front of seated spectators during demonstrations or dances.
        </p>  

        <p>We also ask you not to crowd around doorways to the hall, to allow people to pass through.</p>

        <h3>Wheelchair access</h3>
        <p>There are ramps and a lift, giving good access.</p>  
        <p>Some space is reserved for wheelchairs.</p>        

        <h3>Toilets</h3> 
        <p>There are plenty of toilets, with facilities for the disabled. 
        Toilets are on the ground floor, and access by the lift may be inaccessible while tea is being served.
        </p>

      </div>   <!-- BS panel-body -->
    </div>  <!-- BS panel -->           


  </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           

<!-- start of HomePageVenueTabContent.html -->