

<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
    <h2 class="panel-title">Latest</h2>
  </div>
  <div class="panel-body">  <!-- BS -->

  <div class="alert  alert-info"  role="alert">
 <p>We will update our Twitter feed (below) on the day of each dance, 
 to let you know if the dance will be in the Palace or in the Low Port.
 The update may be as late as 6pm if the weather is particularly hard to predict.</p>
 <p>If you prefer you can also go direct to  
 our Twitter page (click the @scotchhopp link below).
 </p>
 
<!-- Insert of Twitter widget, created 30/3/16 by Rory, linebreaks added to script for legibility  -->
 <a class="twitter-timeline" data-dnt="true" 
 href="https://twitter.com/Scotchhopp" 
 data-widget-id="715169898964582400"
 data-width="1000" data-height="300"
 >
 Tweets by @Scotchhopp
 </a>
<script>
!function(d,s,id){
 var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
 if(!d.getElementById(id)){
  js=d.createElement(s);
  js.id=id;
  js.src=p+"://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js,fjs);
 }
}
(document,"script","twitter-wjs");
</script>
<!-- end of Twitter widget -->

 </div>
 

  </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           

      
