             

<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h2 class="panel-title" id="linlithgow">About Linlithgow</h2>
  </div>
  <div class="panel-body">  <!-- BS -->


<h1>About Linlithgow</h1>
			<p ><b>Linlithgow:</b> is the birthplace of Mary Queen of	Scots.
			</p>      
      
			<p>Click to see the Web Cams around 
      <b><a href="http://www.linlithgow.com/webcam_cross.htm">The Cross</a></b> 
			and the <b><a href="http://www.linlithgow.com/webcam_canal.htm">Canal Basin</a> </b>
      in Linlithgow.
      </p>

<h2>Tourist Info</h2>
			<p>For general tourist information not connected with Scotch Hop</p>
			<p>Burgh Halls 01506 282720</p>
      
      <p>
      <a href="http://www.scottishdance.net/">Scottish Dance &amp; Ceilidh Information</a>
      <a href="http://www.scottishdance.net/">
						<img src="images/saltireLogo.png" alt="Grand Chain logo on Saltire" width="119" height="80">
            </a>
            </p>						            
						
						<p>
						<a href="http://www.linlithgowscdc.org/">Linlithgow Scottish Country Dance Club</a>
						<a href="http://www.linlithgowscdc.org/">
						<img src="images/logo_new_colour_2small.png" width="69" height="80" alt="Linlithgow Scottish Country Dance Club">
            </a>
            </p>
            
						<p>
						<a target="_blank" href="http://www.musicinscotland.com/highlandermusic/highlander_music_label.htm">
						<img border="0" src="images/Highland%20music.jpg" width="164" height="80" alt="Highlander music logo">
            </a>for dance music cds
            </p>
            
            
            <p>
						<a href="http://www.visitscotland.com/">Scottish	Tourist Board</a>
            <a href="http://www.visitscotland.com/">
						<img border="0" src="images/Inform1.jpg" width="120" height="32" alt="visit Scotland logo">
            </a>
            </p>
            
						<p>
            <a href="http://www.linlithgow.com/pride_passion.htm">
            <img src="images/black_bitch_crest.gif" alt="Black Bitch Crest" width="67" height="67" hspace="3" border="0" align="right">
            </a>
            </p>
            
						<p>
						<a href="http://www.linlithgow.com/"> Linlithgow - A Great Visit</a>
            </p>
            
            <p>
            <a href="http://www.rscds.org/index.php">
            <img src="images/logo.gif" border="0" width="133" height="71" alt="RSCDS logo">
            </a>
            </p>

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->                 

