<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h1 class="panel-title" id="QandA">Common Questions</h1>
  </div>
  <div class="panel-body">  <!-- BS -->
      

			<p>Here are the answers to some frequently asked questions. 
      If none of these answers your  questions please contact Sheila McCutcheon on 0131-331 1528.
      </p>
      
<!-- 
The dt/dd lists (dictionary term / dictionary definition) used below are formatted by Bootstrap.
In custom CSS we try to improve further by overriding parts of the BS definitions.
-->      
      
<dl class="dl-horizontal">  <!-- BS -->    

			<dt>Are beginners welcome?</dt>
			<dd>Yes, it is &quot;Scottish Dancing for All&quot; and it attracts a wide range 
			of abilities and nationalities! A caller will provide instructions 
			for all of the dances. No need to do your homework on the dances 
			beforehand!
      </dd>

			<dt>Who goes to Linlithgow Scotch Hop?</dt>
			<dd>All age groups, nationalities and abilities join in the fun. 
			Experience it for yourself.</dd>
      
			<dt>Do I need to buy tickets beforehand?</dt>
			<dd>No, please buy them at the door on the night.
      If your Group is 10 or more people please telephone Sheila McCutcheon on 0131-331 1528 
			or e-mail us at <a href="mailto:scotchhopcommittee@gmail.com">ScotchHopCommittee@gmail.com</a>
       BEFORE the day of the event to arrange a group ticket. </dd>
       
			<dt>Is there a band?</dt>
			<dd>Yes, that is one of the attractions of the event, 
      with some of the best Scottish Dance bands on stage.</dd>
      
			<dt>Is there a Caller?</dt>
      <dd>Yes </dd>
      
      <dt>How will I know whether the dancing is in the Palace or at the 
			Low Port Centre?</dt>
			<dd>If it is raining or the sky is overcast at about 6pm, the dancing 
			will be at the Low Port Centre. If you go to the Palace and it is 
			closed then it means the dancing is in the Low Port Centre.
      It is a 10 minute walk or 5 minute drive between the two venues.
      </dd>
			
      <dt>What should I wear?</dt>
			<dd>A kilt if you have one, but the dress code is casual.
      If the dancing is indoors it can be very warm, however in the Palace it can be cool 
			and you may need a jersey/fleece. 
      The Palace floor is stone paving therefore ordinary shoes (which will stay on) are recommended.
      </dd>
			
			<dt>Is there seating?</dt>
			<dd>Yes, on a first come first served basis, so get there promptly if 
			you want a seat.</dd>
			
			<dt>Is there a licenced bar at the venue?</dt>
			<dd>No, but there are plenty of bars and restaurants on Linlithgow High 
			Street.</dd>
			
			<dt>Disabled access?</dt>
			<dd>Linlithgow Palace and the Low Port Centre have access and toilet 
			facilities for disabled people</dd>
			
			<dt>Can I get public transport back to Edinburgh/Glasgow or Stirling 
			after the event?</dt>
			<dd>Yes, the dancing stops in time for people to be able to get 
			transport to most destinations in Central Scotland, check the 
			timetable of the transport company.</dd>
			
			<dt>Is there food or drink for sale?</dt>
			<dd>No, but Tea or Orange squash and shortbread are provided at the interval. 
      Fresh water is available at any time.
      </dd>
			
			<dt>Local Restaurants / Bars</dt>
			<dd>  Yes - several nearby :
      <ul>
			<li>Livingstons 01506 846565</li>
			<li>Bar Leo 01506 846667</li>
			<li>Four Marys 01506 842171</li>
      </ul>
			Please mention Scotch Hop when booking.
			</dd>
      
			<dt>Are there special prices for Groups?</dt>
			<dd>If your Group is 10 or more people please contact Sheila McCutcheon on 0131-331 1528 BEFORE the day of the event to arrange a group ticket.
      </dd>
			
			<dt>Tourist Information</dt>
			<dd>If you require further information or directions or information on 
			Linlithgow and the surrounding area please contact Burgh Halls.
			</dd>

</dl>      

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           


