
<div class="row">  <!-- BS, row, programmes -->

  <div class="col-md-12">  <!-- BS, col -->

    <div class="panel panel-default">   <!-- BS -->
      <div class="panel-heading">
        <h1 class="panel-title" id="dancing-panel">Music and Dancing</h1>
      </div>
      <div class="panel-body">  <!-- BS -->

  <p>Each night we have a high quality live Scottish band. 
There is a wide range of Scottish dances, 
enjoyed by a wide range of ages, abilities and nationalities. 
Our experienced caller gives instruction, before and during the dance.
The programme usually ends about 10.00 p.m.
  </p>

      </div>   <!-- BS panel-body -->
    </div>  <!-- BS panel -->           
  </div >  <!-- BS, col -->

</div >  <!-- BS, row -->



<div class="row">  <!-- BS, row, programmes -->

  <div class="col-md-4">  <!-- BS, col -->
    <div class="panel panel-default">   <!-- BS -->
      <div class="panel-heading">
        <h2 class="panel-title">
	        <a role="button" data-toggle="collapse" href="#prog1" aria-expanded="false" aria-controls="prog1">
            <span class=" clickable panel-collapsed">
              Wednesday 13th July 2016 at 7.30pm
              <i class="glyphicon glyphicon-chevron-down pull-right"></i>
            </span> <!-- see myJS -->
          </a>
        </h2>
      </div>
      <div class="panel-body collapse" id="prog1">  <!-- BS -->
<p><strong> Music from our piper </strong>
<a target="_blank" class="fa fa-external-link"
href="http://members.lastminutemusicians.com/edwardseaman.html">
Edward Seaman
</a>
<br>and <strong>the band </strong>
<a target="_blank" class="fa fa-external-link"
href="http://www.ianmuir.co.uk/">
The Ian Muir Sound
</a>
</p>
<p>Gay Gordons</p> 
<p>Flying Scotsman</p> 
<p>A Highland Welcome</p> 
<p>Leap Year / Argyll's Fancy</p> 
<p>Canadian Barn Dance</p> 
<p>Nice & Easy</p> 
<p>St. Bernard's Waltz</p>
<p>Eightsome Reel</p>
<p class="dance-tea"\></p>
<p>Britannia Two Step</p>
<p>Dashing White Circle</p>
<p>Fiona's Fancy</p>
<p> Mississippi Dip</p>
<p>Galloway House</p>
<p>Highland Schottische</p>
<p>Virginia Reel</p>
      </div>   <!-- BS panel-body -->
    </div>  <!-- BS panel -->           
  </div >  <!-- BS, col -->

  <div class="col-md-4">  <!-- BS, col -->
    <div class="panel panel-default">   <!-- BS -->
      <div class="panel-heading">
        <h2 class="panel-title">
	        <a role="button" data-toggle="collapse" href="#prog2" aria-expanded="false" aria-controls="prog2">
            <span class=" clickable panel-collapsed">
              Wednesday 20th July 2016 at 7.30pm
              <i class="glyphicon glyphicon-chevron-down pull-right"></i>
            </span> <!-- see myJS -->
          </a>
        </h2>
      </div>
      <div class="panel-body collapse" id="prog2">  <!-- BS -->


<p><strong> Music from our piper </strong>
<a target="_blank" class="fa fa-external-link"
href="http://pipersinclair.co.uk/">
Graeme Sinclair
</a>
<br>and <strong>the band </strong>
<a target="_blank" class="fa fa-external-link"
href="http://www.carmichaelsceilidh.co.uk/biog.htm">
John Carmichael
</a>
</p>

<p>Gay Gordons</p> 
<p>Saturday Morning Jig</p> 
<p>OXO Reel</p> 
<p>Jacky Tar Two Step</p> 
<p>Haymaker's Jig</p> 
<p>Eva 3 Step</p> 
<p>Daniel's Delight</p> 
<p>Riverside Jig</p> 
<p class="dance-tea"\></p>
<p>Loch Ness Monster</p>
<p>A Border's Welcome</p>
<p>Military Two Step</p>
<p>Fiona's Fancy / Joie De Vivre</p> 
<p>Lomond Waltz</p>
<p>Circles Four</p>
<p>Dhoon Jig</p>
      </div>   <!-- BS panel-body -->
    </div>  <!-- BS panel -->
  </div >  <!-- BS, col -->


  <div class="col-md-4">  <!-- BS, col -->
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2 class="panel-title">
      	  <a role="button" data-toggle="collapse" href="#prog3" aria-expanded="false" aria-controls="prog3">
            <span class=" clickable panel-collapsed">
              <i class="glyphicon glyphicon-chevron-down pull-right"></i>
              Wednesday 27th July 2016 at 7.30pm
            </span> <!-- see myJS -->
          </a>
        </h2>
      </div>
      <div class="panel-body collapse" id="prog3">
<p><strong> Music from our piper </strong>
<a target="_blank" class="fa fa-external-link"
href="http://www.agraypiping.uk/rachel-gray.html">
Rachel Gray
</a>
<br>and <strong>the band </strong>
    <a target="_blank" class="fa fa-external-link"
    href="http://www.glencraigsdb.co.uk/">
    Nicol McLaren & the Glencraig Dance Band
  </a>
</p>
<p>Gay Gordons</p> 
<p>Dashing White Sergeant</p> 
<p>Linton Ploughman</p>
<p>Southern Rose Waltz</p>  
<p>Isle of Skye / Reel of the 51st</p> 
<p>Gypsy Tap</p> 
<p>Rebecca's Roundabout</p>
<p>Flying Scotsman</p>
<p class="dance-tea"\></p>
<p>Scotch Rose</p>
<p>Johnny Groat's House</p>
<p>Swedish Masquerade</p>
<p>Circassian Circle</p>
<p>Foula Reel</p>
<p>Canadian Barn Dance</p>
<p>Inverness Reel</p>
      </div>   <!-- BS panel-body -->
    </div>  <!-- BS panel --> 
  </div >  <!-- BS, col -->

  <!-- Add clearfix so 2 blocks below are in one row below the 3 above (in md displays and wider) -->
  <div class="clearfix visible-md-block"></div>

  <div class="col-md-4">  <!-- BS, col -->          
    <div class="panel panel-default">   <!-- BS -->
      <div class="panel-heading">
        <h2 class="panel-title">
      	  <a role="button" data-toggle="collapse" href="#prog4" aria-expanded="false" aria-controls="prog4">
            <span class=" clickable panel-collapsed">
              Wednesday 3rd August 2016 at 7.30pm
              <i class="glyphicon glyphicon-chevron-down pull-right"></i>
            </span> <!-- see myJS -->
          </a>
        </h2>
      </div>
      <div class="panel-body collapse" id="prog4">  <!-- BS -->

<p><strong> Music from our piper </strong>
<a target="_blank" class="fa fa-external-link"
href="http://members.lastminutemusicians.com/edwardseaman.html">
Edward Seaman
</a>
<br>and <strong>the band </strong>
<a target="_blank" class="fa fa-external-link"
href="https://twitter.com/gsceilidhband">
Gary Sutherland Scottish Ceilidh Band
</a>
</p>

<p>Gay Gordons</p> 
<p>Saturday Morning Jig</p> 
<p>Isle of Skye</p> 
<p>Military Two Step</p> 
<p>Cumberland Reel</p> 
<p>Viennese Waltz</p> 
<p>Rabbie's Reel / Scott Meikle</p>  
<p>Jig to the Music</p>
<p class="dance-tea"\></p>
<p>Russian Ballet</p>
<p>Polka Country Dance</p>
<p>Friendly Waltz</p>
<p>Call of the Pipes</p>
<p>Espie McNab / Lassie Come and Dance with Me</p> 
<p>Jacky Tar Two Step</p>
<p>Orcadian Strip the Willow</p>
 
      </div>   <!-- BS panel-body -->
    </div>  <!-- BS panel -->
  </div >  <!-- BS, col -->
 
  <div class="col-md-4">  <!-- BS, col -->

    <div class="panel panel-default">   <!-- BS -->
      <div class="panel-heading">
        <h2 class="panel-title">
	        <a role="button" data-toggle="collapse" href="#prog5" aria-expanded="false" aria-controls="prog5">
            <span class=" clickable panel-collapsed">
              Wednesday 10th August 2016 at 7.30pm
              <i class="glyphicon glyphicon-chevron-down pull-right"></i>
            </span> <!-- see myJS -->
          </a>
        </h2>
      </div>
      <div class="panel-body collapse" id="prog5">  <!-- BS -->

<p><strong> Music from our piper </strong>
<a target="_blank" class="fa fa-external-link"
href="http://pipersinclair.co.uk/">
Graeme Sinclair
</a>
<br>and <strong>the band </strong>
                <a target="_blank" class="fa fa-external-link"
                href="http://www.jimlindsay.co.uk/">
                Jim Lindsay & his Scottish Dance Band
                </a>
</p>
                
<p>Gay Gordons</p> 
<p>Virginia Reel</p> 
<p>Britannia Two Step</p> 
<p>Shortbread Dance</p> 
<p>Highland Schottische</p> 
<p>Black Dance / Broun's Reel</p> 
<p>Pride of Erin Waltz</p> 
<p>Strip the Willow</p>
<p class="dance-tea"\></p>
<p>Seven Step Polka</p>
<p>West Garleton Meander</p>
<p>Marches Hop</p>
<p>Lucky Seven</p>
<p>Dashing White Sergeant</p>
<p>Marine 4 Step</p>
<p>Grassmarket Reel / Mairi's Wedding</p> 

      </div>   <!-- BS panel-body -->
    </div>  <!-- BS panel -->                 
  </div >  <!-- BS, col -->

</div>  <!-- BS, row, programmes -->

