<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h1 class="panel-title" id="Ack1">Acknowledgments</h1>
  </div>
  <div class="panel-body">  <!-- BS -->

<p>Linlithgow Scotch Hop would not be possible without the contributions, 
now and over many years,
of all sorts of people and organisations.<p>

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           





<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h2 class="panel-title" id="Ack2">Financial Help</h2>
  </div>
  <div class="panel-body">  <!-- BS -->

<p>We are indebted to the various local and national funding bodies
 which have helped to make Scotch Hop possible over the years,
 keeping ticket prices at a level where whole families can come and enjoy it.
 </p>
 
 <!-- 
 In what follows, we have the name and logo of each organisation on the left,  
with some pretty words on the right. We use BS to format this with CSS as a table,
for all but small screen/display sizes.  For small displays these will collapse to a single column, 
with the name/logo above followed by each text.
 -->

<h2 class="sr-only">This Year's Main Sponsors</h2>

<!-- row of logo + text -->
<div class="row">  <!-- BS, row x -->

 <div class="col-sm-4">  <!-- BS, col -->  
  <p  class="text-center"  >  <!-- BS -->
   <a target="_blank" class="fa fa-external-link" 
   href="http://www.westlothian.gov.uk/"  style="background-color:white;">
    <!-- the WL logo, half natural size, 220x96  -->
    <img border="0" 
      src="images/vendors/WestLothian_220x96px_16col.png" 
      width="110" height="48" alt="logo of West Lothian Council" 
    />
  </a>
  </p> 
 </div> <!-- BS col -->
  
 <div class="col-sm-8">  <!-- BS, col --> 
  <p>
   We are very grateful to West Lothian Community Arts, 
   which has helped to fund Linlithgow Scotch Hop for many years.
  </p> 
 </div> <!-- BS col -->

</div>  <!-- BS, row x -->  

<!-- row of logo + text -->   
<div class="row">  <!-- BS, row x -->

 <div class="col-sm-4">  <!-- BS, col --> 
  <p  class="text-center"  >  <!-- BS -->
   <a target="_blank" class="fa fa-external-link" href="https://www.biglotteryfund.org.uk/scotland" >
   <!-- the Lottery image, half natural size 180x135 -->
    <img src="images/vendors/AwardsForAllScotland/lottery-funded.jpg" 
    width="90" height="67" alt="logo of Awards for All Scotland" 
    />
   </a>
  </p>
 </div> <!-- BS col -->
  
 <div class="col-sm-8">  <!-- BS, col --> 
   <p>
   We are very grateful to Awards for All Scotland 
   for its help in funding Linlithgow Scotch Hop in 2016.
   </p> 
 </div> <!-- BS col -->

</div>  <!-- BS, row 4 -->  

 

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           





<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h1 class="panel-title" id="Ack3">Suppliers</h1>
  </div>
  <div class="panel-body">  <!-- BS -->

<p>Many companies and organisations have helped us over the years as suppliers.</p>
<ul>


<!-- row of logo + text -->   
<div class="row">  <!-- BS, row x -->

 <div class="col-sm-4">  <!-- BS, col --> 
  <p  class="text-center"  >  <!-- BS -->
   <a target="_blank" class="fa fa-external-link" href="https://www.paterson-arran.com/" >
    Paterson Arran, based in Livingston
   </a>
  </p>
 </div> <!-- BS col -->
  
 <div class="col-sm-8">  <!-- BS, col --> 
   <p>
   For several years local company Patersons has provided the shortbread served at the interval.
   </p> 
 </div> <!-- BS col -->

</div>  <!-- BS, row x -->  

<!-- row of logo + text -->   
<div class="row">  <!-- BS, row x -->

 <div class="col-sm-4">  <!-- BS, col --> 
  <p  class="text-center"  >  <!-- BS -->
   <a target="_blank" class="fa fa-external-link" href="https://www.historicenvironment.scot/" >
    Historic Scotland (which became part of Historic Environment Scotland in 2015). 
   </a>
  </p>
 </div> <!-- BS col -->
  
 <div class="col-sm-8">  <!-- BS, col --> 
   <p>
      Historic Scotland has helped us to use the Linlithgow Palace for many years.
   </p> 
 </div> <!-- BS col -->

</div>  <!-- BS, row x -->  

<!-- row of logo + text -->   
<div class="row">  <!-- BS, row x -->

 <div class="col-sm-4">  <!-- BS, col --> 
  <p  class="text-center"  >  <!-- BS -->
   <a target="_blank" class="fa fa-external-link" 
   href="http://www.westlothian.gov.uk/"  style="background-color:white;">
    <!-- the WL logo, half natural size, 220x96  -->
    <img border="0" 
      src="images/vendors/WestLothian_220x96px_16col.png" 
      width="110" height="48" alt="logo of West Lothian Council" 
    />
  </a>
     <a target="_blank" class="fa fa-external-link" 
      href="http://www.linlithgowburghhalls.co.uk/"
     >
     Linlithgow Burgh Halls
  </a>  
  </p> 
 </div> <!-- BS col -->
  
 <div class="col-sm-8">  <!-- BS, col --> 
   <p>
      We are grateful to West Lothian Council for their help with access to 
      the toilet facilities of the Burgh Halls near the Palace.
   </p> 
 </div> <!-- BS col -->

</div>  <!-- BS, row x -->  

<!-- row of logo + text -->   
<div class="row">  <!-- BS, row x -->

 <div class="col-sm-4">  <!-- BS, col --> 
  <p  class="text-center"  >  <!-- BS -->
   <a target="_blank" class="fa fa-external-link" href="http://www.activewestlothian.com" >
    Active West Lothian (part of West Lothian Council). 
   </a>
  </p>
 </div> <!-- BS col -->
  
 <div class="col-sm-8">  <!-- BS, col --> 
   <p>
      For many years, the Low Port Centre has been on standby each of our dance nights,
      in case the weather was poor enough that we needed to come indoors there.
   </p> 
 </div> <!-- BS col -->

</div>  <!-- BS, row x -->  




<!-- row of logo + text -->   
<div class="row">  <!-- BS, row x -->

 <div class="col-sm-4">  <!-- BS, col --> 
  <p  class="text-center"  >  <!-- BS -->
   <a target="_blank" class="fa fa-external-link" href="http://www.flavell.com/factory.htm" >
    Flavell Printers. 
   </a>
  </p>
 </div> <!-- BS col -->
  
 <div class="col-sm-8">  <!-- BS, col --> 
   <p>
      Each year Flavell prints our thousands of flyers, posters and tickets etc.
   </p> 
 </div> <!-- BS col -->

</div>  <!-- BS, row x -->  


   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           




<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h2 class="panel-title" id="Ack4">Volunteers and Committee</h2>
  </div>
  <div class="panel-body">  <!-- BS -->
  
<p>Our volunteers, past and present, are too many to list, but they know who they are!
<br />They come along and give up their time on the night 
to do the many things that are needed in the course of an evening - 
 to set up the chairs, drinks, stage etc, 
 help dancers by demonstrating, counting lines, helping sets where needed,
 serve soft drinks throughout and and teas at the interval,
then clear up at the end.
</p>

<p>We must acknowledge John Carswell, whose inspiration started Linlithgow Scotch Hop,
whose perseverance kept it going over the years,
whose style of calling and demonstrating dances has become familiar to so many of us,
and whose advice has kept us going since.
Thank You, John !
<br />Thank you also to Janet and the rest of John's family, 
for supporting him, practically and morally,
through the years.
</p>

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           





<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h2 class="panel-title" id="Ack5">Photos, Website</h2>
  </div>
  <div class="panel-body">  <!-- BS -->

<p>Many people have contributed their pictures to our store of memories,
some of which are included in this website.
Amongst them - 
</p>
<ul>
<li>xxxxx.</li>
<li>xxxxx</li>
<li>Sue Anderson</li>
<li>xxxxxx</li>
</ul>

<p>The first website was designed and hosted in 19xx by
  <a target="_blank" class="fa fa-external-link" href="http://www.annegarrison.co.uk/">Anne Garrison</a>.
</p>

<p>From 201x to 2016 it was maintained and hosted by Mike Scott.
He also created and maintains 
 <a target="_blank" class="fa fa-external-link"  href="http://www.mikescommunity.com/">
 Mike's Community</a>,
which lists ceilidhs and other events of interest to like-minded people.
</p>

<p>The current site was designed in 2016 by 
 <a target="_blank" class="fa fa-external-link" href="www.rorysco.co.uk">Rory Davies</a>
, and hosted by xxxxxx.</p>   
  
   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           

