<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h1 class="panel-title" id="QandA">Acknowledgments</h1>
  </div>
  <div class="panel-body">  <!-- BS -->

<p>Linlithgow Scotch Hop would not be possible without the contributions, over many years,
of all sorts of people and organisations.<p>

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           





<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h2 class="panel-title" id="QandA">Financial Help</h2>
  </div>
  <div class="panel-body">  <!-- BS -->

<p>We are indebted to the various local and national funding bodies
 which have helped to make Scotch Hop possible over the years,
 keeping ticket prices at a level where whole families can come and enjoy it.
 <p>
 <ul>
 <li>West Lothian Council</li>
 <li>National Lottery</li>
 </ul>

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           





<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h2 class="panel-title" id="QandA">Volunteers and Organisers</h2>
  </div>
  <div class="panel-body">  <!-- BS -->
  
<p>Our volunteers, past and present, are too many to list, but &quot;they know who they are&quot;!</p>

<p>We must acknowledge John Carswell, whose inspiration started Linlithgow Scotch Hop,
whose perseverance kept it going over the years,
whose style of calling and demonstrating dances has become familiar to so many of us,
and whose advice has kept us going since.
Thank You, John !
<br />Thank you also to Janet and the rest of John's family, 
for supporting him, practically and morally,
through the years.
</p>

   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           




<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h1 class="panel-title" id="QandA">Suppliers</h1>
  </div>
  <div class="panel-body">  <!-- BS -->

<p>Many companies and organisations have helped us over the years as suppliers.</p>
<ul>
<li>Shortbread - Patersons, Livingston.</li>
<li>the Palace - Historic Scotland</li>
<li>Low Port - West Lothian Council</li>
<li>Printing - Flavell</li>
</ul>


   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           





<div class="panel panel-default">   <!-- BS -->
  <div class="panel-heading">
<h2 class="panel-title" id="QandA">Photos, Website</h2>
  </div>
  <div class="panel-body">  <!-- BS -->

<p>Many people have contributed their pictures to our store of memories,
some of which are included in this website.
Amongst them - 
</p>
<ul>
<li>xxxxx.</li>
<li>xxxxx</li>
<li>Sue Anderson</li>
<li>xxxxxx</li>
</ul>

<p>The first website was designed and hosted in 19xx by
 <a href="http://www.annegarrison.co.uk/">Anne Garrison</a>.
</p>

<p>From 201x to 2016 it was maintained and hosted by 
Mike Scott, a self-employed xxxxxx.
He created and maintains <a href="http://www.mikescommunity.com/">Mike's Community</a>,
which lists ceilidhs and other events of interest to like-minded people.
</p>

<p>The current site was designed in 2016 by 
<a href="www.rorysco.co.uk">Rory Davies</a>
, and hosted by xxxxxx.</p>   
  
   </div>   <!-- BS panel-body -->
</div>  <!-- BS panel -->           

